.wrap {
	perspective: 800px;
	perspective-origin: 50% 190px;
}

.cube {
	position: relative;
	width: 100px;
	transform-style: preserve-3d;
}

.cube div {
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgba(255,255,255, 0.96);
    box-shadow: inset 0 0 30px rgba(82, 145, 183, 0.32);
    font-size: 20px;
    text-align: center;
    line-height: 100px;
    color: rgb(119, 211, 255, 0.5);
    font-family: sans-serif;
    text-transform: uppercase;
}

.back {
	transform: translateZ(-50px) rotateY(180deg);
}
.right {
	transform: rotateY(-270deg) translateX(50px);
	transform-origin: top right;
}
.left {
	transform: rotateY(270deg) translateX(-50px);
	transform-origin: center left;
}
.top {
	transform: rotateX(-90deg) translateY(-50px);
	transform-origin: top center;
}
.bottom {
	transform: rotateX(90deg) translateY(50px);
	transform-origin: bottom center;
}
.front {
	transform: translateZ(50px);
}

@keyframes spin {
	from { transform: rotateY(0deg); }
	to { transform: rotateY(360deg); }
}

.cube {
	animation: spin 6s infinite linear;
}
